# {{ ansible_managed }}
services:
  {{ infra_uptimekuma_service_name }}:
    image: {{ infra_uptimekuma_container_image }}
    container_name: {{ infra_uptimekuma_container_hostname }}
    hostname: {{ infra_uptimekuma_container_hostname }}
    restart: {{ infra_uptimekuma_restart_policy | default(infra_restart_policy) }}
    logging:
      driver: {{ svc_log_driver }}
      options: {{ svc_log_options }}
    env_file: {{ infra_uptimekuma_env_file_path }}
    volumes:
      - {{ infra_uptimekuma_volume_name_data }}:/app/data
    mem_limit: {{ infra_uptimekuma_container_memory }}
    labels:
      traefik.enable: 'true'
      traefik.docker.network: {{ svc_docker_network_name }}
      traefik.http.routers.{{ infra_uptimekuma_service_name }}-rtr.rule: "Host(\"{{ infra_uptimekuma_fqdn }}\")"
      traefik.http.routers.{{ infra_uptimekuma_service_name }}-rtr.entrypoints: webSecure
      traefik.http.services.{{ infra_uptimekuma_service_name }}-svc.loadbalancer.server.port: 3001
      traefik.http.services.{{ infra_uptimekuma_service_name }}-svc.loadbalancer.server.scheme: http
      traefik.http.routers.{{ infra_uptimekuma_service_name }}-rtr.service: {{ infra_uptimekuma_service_name }}-svc
      traefik.http.routers.{{ infra_uptimekuma_service_name }}-rtr.middlewares: lan-mwr@file
    networks:
      {{ svc_docker_network_name }}:
{% if infra_containers_override_dns %}
    dns: {{ infra_container_dns_servers }}
{% endif %}

volumes:
  {{ infra_uptimekuma_volume_name_data }}:
    name: {{ infra_uptimekuma_volume_name_data }}
    labels: {{ infra_uptimekuma_volume_labels | combine(infra_docker_volume_shared_labels) }}

networks:
  {{ svc_docker_network_name }}:
    external: 'true'
