services:
  {{ infra_wazuh_certtool_hostname }}:
    image: {{ infra_wazuh_certtool_container_image }}
    container_name: {{ infra_wazuh_certtool_hostname }}
    hostname: {{ infra_wazuh_certtool_hostname }}
    volumes:
        - {{ infra_wazuh_certificates_directory_path }}/:/certificates/
        - {{ infra_wazuh_certs_conf_file_path }}:/config/certs.yml
