---
name: 'Lint'
on:
  workflow_dispatch:
    inputs:
      dirname:
        description: 'Name of the directory to checkout to'
        default: 'netr0m.infra'
        required: false
        type: string
  workflow_call:
    inputs:
      dirname:
        description: 'Name of the directory to checkout to'
        default: 'netr0m.infra'
        required: false
        type: string
    secrets:
      ANSIBLE_ROLE_SVC_SSH_KEY:
        required: true

jobs:
  lint:
    name: 'Run linting'
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        linter:
          - 'yamllint'
          - 'ansible-lint'
    steps:
      - name: 'Check out the codebase'
        uses: actions/checkout@v5
        with:
          path: ${{ inputs.dirname }}

      - name: 'Check out the dependency codebase'
        uses: actions/checkout@v5
        with:
          repository: netr0m/ansible-role-svc
          path: netr0m.svc
          ref: main
          ssh-key: ${{ secrets.ANSIBLE_ROLE_SVC_SSH_KEY }}

      - name: 'Set up Python 3.13'
        uses: 'actions/setup-python@v6'
        with:
          python-version: '3.13'

      - name: 'Install dependencies'
        run: pip3 install ${{ matrix.linter }}

      - name: 'Install ansible dependencies for netr0m.svc'
        run: |
          cd netr0m.svc
          ansible-galaxy collection install -r ansible-requirements.yml
          ansible-galaxy role install -r ansible-requirements.yml

      - name: 'Install ansible dependencies'
        run: |
          cd ${{ inputs.dirname }}
          ansible-galaxy collection install -r ansible-requirements.yml
          ansible-galaxy role install -r ansible-requirements.yml

      - name: 'Lint code'
        run: |
          cd ${{ inputs.dirname }}
          ${{ matrix.linter }} -c .${{ matrix.linter }} .

...
